{% extends "base.html" %}
{% block content %}
<h1>나는 INDEX</h1>
<hr>
<div>
  {% for article in articles %}
  <div>
    <form action="{% url "articles:likes" article.pk %}" method="POST">
      {% csrf_token %}
    {% if request.user in article.like_users.all %}
      <input type="submit" value="좋아요 취소">
    {% else %}
      <input type="submit" value="좋아요">
    {% endif %}
    </form> 
    <a href="{% url "articles:detail" article.pk %} ">{{ article.title }}</a>
    <hr>
  </div>
  {% endfor %}
</div>
{% endblock content %}